doctype
html
  head
    title testTask

  body
    h1 E:mg
    h2 testTask
    div(ng-app="testApp")
      div(ng-controller="MainCtrl" ng-cloak)
        div(balancer items="model")

        br
        div Result
          br
          span defSum: {{ defSum }}
          br
          div(ng-repeat="item in model")
            span nodeName: {{ item.name }}, nodeLoad: {{ item.percent }}

    script(src="./js/vendor/angular/angular.js")
    script(src="./js/vendor/underscore/underscore.js")
    script(src="./js/test.js")
